@charset "utf-8";

body {
  background-color: #FBFBFC;
}

footer {
  background-color: transparent !important;
}

/* sub-head */
.sub-head .breadcrumbs {
  font-size: .9em;
  display: flex;
  gap: .4rem;
  align-items: center;
  justify-content: flex-end;
  color: #606060;
  padding: 1.5rem 0 2rem;
}

.sub-head .breadcrumbs a {
  display: flex;
  gap: .4rem;
  align-items: center;
  color: #909090;
  font-weight: 300;
}

.sub-head .breadcrumbs a:hover {
  color: var(--color-primary);
}

.sub-head .breadcrumbs a::after {
  content: "\ea54";
  font-family: "remixicon";
  font-size: 1.2em;
}

.sub-head .breadcrumbs a:last-child {
  color: #101010;
  cursor: default;
  pointer-events: none;
}

.sub-head .breadcrumbs a:last-child::after {
  display: none;
}

.sub-head .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sub-head .title-wrap>.title {
  font-size: 2.3em;
  font-weight: 700;
  flex-grow: 1;
}

/* cont-btns */
.sub-head .cont-btns {
  display: flex;
  gap: 5px;
}

.sub-head .cont-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 2;
  border: solid 1px var(--color-border);
  border-radius: 1.2rem;
  transition: all .3s ease-out 0s;
}

.sub-head .cont-btns a:hover {
  box-shadow: 0 4px 7px rgba(100, 100, 100, 0.2);
}

.sub-head .icon_share.toggle::before {
  background: none;
  content: "\eb99";
  font-family: 'remixicon';
  color: #888;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-head .icon_share::before {
  content: '';
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #848484;
}

.sub-head .icon_share::before {
  background: url(/kor/img/icon_share.svg) no-repeat 50% 50%;
}

.sub-head .icon_clip::before {
  background: url(/kor/img/icon_clip.svg) no-repeat 50% 50%;
}

.sub-head .icon_print::before {
  background: url(/kor/img/icon_print.svg) no-repeat 50% 50%;
}

.sub-head .icon_plus::before {
  content: "\ea12" !important;
  font-family: "remixicon";
}

.sub-head .icon_minus::before {
  content: "\f1ae" !important;
  font-family: "remixicon";
}

#shareWrap .item {
  position: relative;
  z-index: 1;
}

#shareWrap #share {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  gap: 7px;
  transition: all .5s ease 0s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 10px 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, .1);
  animation-name: showHideFlex;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

#shareWrap.active #share {
  opacity: 1;
  top: 5px;
  animation-name: showHideFlex;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

#shareWrap .item {
  position: relative;
  z-index: 1;
}

#shareWrap #share {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  gap: 7px;
  transition: all .5s ease 0s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  background: #fff;
  border: solid 1px #dcdcdc;
  padding: 10px 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(100, 100, 100, .1);
  animation-name: showHideFlex;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

#shareWrap.active #share {
  opacity: 1;
  top: 5px;
  animation-name: showHideFlex;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes showHideFlex {
  0% {
    background: #ff0;
    transform: translateX(-50%) scaleY(0);
  }

  100% {
    transform: translateX(-50%) scaleY(1);
  }
}


#share a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

#share a::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
}

#share .facebook a::after {
  background-image: url(/kor/img/facebook.svg);
}

#share .youtube a::after {
  background-image: url(/kor/img/youtube.svg);
}

#share .band a::after {
  background-image: url(/kor/img/band.svg);
}

#share .instagram a::after {
  background-image: url(/kor/img/instagram.svg);
}

#share .twitter-x a::after,
#share .twitter a::after {
  background-image: url(/kor/img/twitter-x.svg);
}

#share .urlShare a::after {
  background-image: url(/kor/img/url_link.svg);
}

@media (max-width: 780px) {
  .sub-head .title-wrap {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0;
  }

  .sub-head .cont-btns {
    width: 100%;
  }
}

/* 공유/인쇄 버튼 */
.cont-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-shrink: 0;
  align-items: center;
}

.cont-btns a {
  border: solid 1px var(--color-border);
  border-radius: 1rem;
  width: 3.6rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.cont-btns a:hover i {
  animation: shake 0.5s ease-in-out;
}

/* icon */
.icon16 {
  display: inline-flex;
  width: 1.6rem;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  line-height: 1;
  color: #666666;
}

.icon16.plus::before {
  content: "\ea12" !important;
  font-family: "remixicon";
}

.icon16.minus::before {
  content: "\f1ae" !important;
  font-family: "remixicon";
}

.icon16.clip {
  background-image: url(/kor/img/icon_clip.svg);
}

.icon16.share {
  background-image: url(/kor/img/icon_share.svg);
}

.icon16.print {
  background-image: url(/kor/img/icon_print.svg);
}

#shareWrap .btn_close::before {
  content: ""
}

/* 3차메뉴 */
.snb {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.snb ul {
  display: flex;
  gap: .8rem;
  max-width: 1240px;
}

.snb a {
  display: flex;
  align-items: center;
  padding: 1.1rem 1.6rem;
  border-radius: 5rem;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(232, 239, 245, 0.5);
  transition: all .3s;
  line-height: 1;
  white-space: nowrap;
}

.snb .active a,
.snb a:hover {
  background-color: var(--color-primary);
  color: #fff;
}

/* 서브 컨텐츠 박스 */
.sub-cont-inner {
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 3rem;
  box-shadow: 0 0 20px 0 rgba(232, 239, 245, 0.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 300;
  line-height: 1.5;
}

/* 컨텐츠 담당자,만족도 */
.contents_info {
  margin-top: 6rem;
  background: #fff;
  border-radius: 1rem;
  border: solid 1px rgba(100, 100, 100, .1);
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(232, 239, 245, 0.5);
}

.sub-inner-tit {
  font-size: 1.875em;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contents_info>*+* {
  /* margin-top: 2rem; */
  border-top: dashed 1px rgba(100, 100, 100, .2);
}

.contents_info .kogl {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 3rem;
}

.contents_info .kogl .img {
  flex: none;
  margin-right: 2rem;
}

.contents_info .duty {
  display: flex;
  padding: 2.4rem 3rem;
}

.contents_info .duty .title {
  display: none;
}

.contents_info .duty .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contents_info .duty li {
  position: relative;
}

.contents_info .duty li a {
  display: inline-block
}

.contents_info .duty li~li {
  position: relative;
  padding-left: 2rem;
  margin-left: 2rem;
}

.contents_info .duty li~li::before {
  content: "";
  display: block;
  background-color: #B0B0B0;
  width: 1px;
  height: 1.2rem;
  position: absolute;
  transform: translate(0, -50%);
  left: 0;
  top: 50%;
  z-index: 0;
}

.contents_info .duty li strong.label {
  font-weight: 700;
}

.contents_info .satisfy {
  background: #5c7595;
  padding: 2.4rem 3rem;
  color: #fff;
}

.contents_info .satisfy .title {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 2.4rem;
}

.contents_info .satisfy fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contents_info .satisfy form {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.contents_info .satisfy form .m_select {
  display: none;
}

.contents_info .satisfy form .list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.contents_info .satisfy form .btn_box {
  margin-left: auto;
}

.contents_info .satisfy .end {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  font-weight: 600;
  word-break: keep-all;
  word-wrap: break-word;
}

.txt_c {
  text-align: center;
}

/* btn */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  color: #333;
}

.color-primary {
  background-color: var(--color-primary);
  color: #fff;
}